[Desktop Entry]
Name=MadyPass
Comment=Secure password manager with local encryption
Exec=madypass
Icon=madypass
Terminal=false
Type=Application
Categories=Utility;Security;Settings;